<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wtp</key>
	<dict>
		<key>age</key>
		<integer>19</integer>
		<key>height</key>
		<integer>184</integer>
	</dict>
	<key>wjz</key>
	<dict>
		<key>age</key>
		<integer>19</integer>
		<key>height</key>
		<integer>170</integer>
	</dict>
	<key>wcx</key>
	<dict>
		<key>age</key>
		<integer>20</integer>
		<key>height</key>
		<integer>170</integer>
	</dict>
	<key>ldj</key>
	<dict>
		<key>age</key>
		<integer>19</integer>
		<key>height</key>
		<integer>170</integer>
	</dict>
	<key>fxj</key>
	<dict>
		<key>age</key>
		<integer>20</integer>
		<key>height</key>
		<integer>182</integer>
	</dict>
</dict>
</plist>
